{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- Single Products Detail -->
<div class="small-container single-product">
  <div class="row">
    <div class="col-2">
      <img src="../media/{{ each_product.featured_image }}" width="100%" id="ProductImg" />
    </div>
    <div class="col-2">
      <!-- Use Tags Bel0w -->
      <p>Category / {{each_product.category}}</p>
      <h2>{{each_product.name}}</h2>
      <h4>${{each_product.price}}</h4>
      <h3>Product Details<i class="fa fa-indent"></i></h3>
      <br />
      <p>
        {{each_product.description}}
      </p>
    </div>
  </div>
</div>


<!-- Title -->
<div class="small-container">
  <div class="row row-2">
    <h2>Related Products</h2>
    <a href="{% url 'Products' %}">
      View All Products
    </a>
  </div>
</div>
<!-- Similar Products -->


<div class="small-container">
  <div class="row">
    {% if similar_products %}
    {% for product in similar_products %}
    <div class="col-44 img44">
      <a href="{% url 'Product Details' product.id %}"><img src="../media/{{ product.featured_image }}"
          class="img-fluid" alt="" /></a>
      <h4>{{product.name}}</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>${{product.price}}</p>
    </div>
    {% endfor %}
    {% else %}
    <h2 class="product-not-found">No Related Products Found.</h2>
    {% endif %}

  </div>
</div>





{% endblock %}